<!DOCTYPE html>
<html layout:decorate="~{layout/layout-download}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">

    <script crossorigin="anonymous" src="/js/download/solution.js"></script>

    <script>
        const menuId = "[[${menuId}]]";
    </script>
    <style>		
		.downloadDiv h4{font-size:42px;color:#000;font-weight:800;}
		.downloadDiv h3{font-size:24px;color:#000;font-weight:800;}
		.downloadDiv p{font-size:17px;color:#333;line-height:160%; font-weight:600;}
			
		.downloadDiv h4{padding:0 60px;}
		.downloadDiv p{margin-top:15px;padding:0 60px;}
		.section{
			padding-top:20px; text-align:center; float:left; width:33%; height:300px;
		}	
	</style>
    
    <div id="downloadDiv" class="downloadDiv" style="padding:85px;">
		<div id="xtormDownloadDiv" class="xtormDownloadDiv" style="width: 100%; height: 800px; border-bottom-style: solid; border-bottom-color: black;">
			<div id="xtormDown" class="xtormImg" style="width: 100%; height: 100%;">
				<h4>국내 최고의 비정형 데이터 관리 플랫폼</h4>
				<p>매일 많은 데이터가 발생하는 제1금융권과 통신 분야에서 가장 많은 래퍼런스를 보유하고 있는 국내 최고 콘텐츠 플랫폼 입니다.</p>
				<br>
				<div class="section" style="border-right: 2px solid darkgray;" >
					<i class="fa-solid fa-layer-group fa-5x mb-4"></i>
					<h3>국내 최다 래퍼런스 보유</h3>
					<p>제 1금융권, 통신 분야에서<br>가장 많이 쓰는 플랫폼</p>
				</div>
				
				<div class="section" style="border-right: 2px solid darkgray;">
					<i class="fa-sharp fa-solid fa-shield fa-5x mb-4"></i>
					<h3>안정적인 콘텐츠 관리</h3>
					<p>다양한 형태의 콘텐츠 보관 및 보존<br>(정형,비정형,이미지 등)</p>
				</div>
				
				<div class="section" >
					<i class="fa-sharp fa-solid fa-handshake-simple fa-5x mb-4"></i>
					<h3>친숙한 국내환경 지원</h3>
					<p>GS 1등급 획득<br>신속한 기술 지원 및 커스터마이징 대응</p>
				</div>
				
				<div id="xtormDown" style="width: 50%; height: 200px; float:left; ">
					<br><br>
					<h3 style="text-align:center;"><span style="font-weight: 900; color:red;">XTORM</span> Download.<br>for Windows, Linux.</h3>
					<br>
					<button type="button" class="btn btn-dark" style="height:40px; width:300px; margin:auto; display:block; font-weight:bold; font-size:large;">XTORM v6.0 Download.</button>
					<br>
					<button type="button" class="btn btn-dark" style="height:40px; width:300px; margin:auto; display:block; font-weight:bold; font-size:large;">XTORM v5.0 Download.</button>
					<br>
					<button type="button" class="btn btn-dark" style="height:40px; width:300px; margin:auto; display:block; font-weight:bold; font-size:large;">XTORM v4.0 Download.</button>
				</div>
				
				<div id="xcsmDown" style="width: 50%; height: 200px; float:left; ">
					<br><br>
					<h3 style="text-align:center;"><span style="font-weight: 900; color:red;">XCSM</span> Download.<br>for Windows, Linux.</h3>
					<br>
					<button type="button" class="btn btn-dark" style="height:40px; width:300px; margin:auto; display:block; font-weight:bold; font-size:large;">분리보관 전체 패키지 Download.</button>
					<br>
					<button type="button" class="btn btn-dark" style="height:40px; width:300px; margin:auto; display:block; font-weight:bold; font-size:large;">분리보관 패키지 Download.</button>
					<br>
					<button type="button" class="btn btn-dark" style="height:40px; width:300px; margin:auto; display:block; font-weight:bold; font-size:large;">파기 패키지 Download.</button>
				</div>
			</div>
		</div>
	</div>
	
</div>
	

	
		
	
	
    
    
    
</div>

</html>