<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::headFragment"></head>

<body>
<main class="main" id="top">
    <div class="container-fluid px-0">
        <header th:replace="fragments/header::headerFragment"></header>

        <div class="userlistContent" style="background-color: black">
            <div th:layout:fragment="content" ></div>
        </div>

        <footer th:replace="fragments/footer::footerFragment"></footer>

    </div>
</main>

</body>

</html>