<!DOCTYPE html>
<html layout:decorate="~{layout/layout-userlist}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
	
	<link href="/css/workingCalendar/userlist.css" rel="stylesheet" type="text/css">

	<div class="container py-5" >
		<div class="container">
			<div class="row ng-scope">
				<section class="search-result-item">
					<a class="image-link" href="#" style="border:6px solid black; width:100px; height:100px;">
						<!--<img class="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">-->
						<img class="image" src="/img/temp.jpg">
					</a>
					<div class="search-result-item-body">
			        	<div class="row">
			            	<div class="col-sm-9">
			                	<h4 style="font-weight:bold; color:white;">송필승</h4>
		                    	<p style="color:white;">ECM Business Team - Leader</p>
		                    	<p class="description" style="color:white;">ECM 사업팀 팀장입니다.  ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다.</p>
		                    </div>
		                    <div class="col-sm-3">
								<a class="btn btn-dark" style="width:100%; height:40px; font-weight:bold;" href="/workingCalendar">이력관리</a>
								<a class="btn btn-dark" style="width:100%; height:40px; font-weight:bold; margin:10px 0px;">피부관리</a>
							</div>
		                </div>
		            </div>
		        </section>
		        
		        <section class="search-result-item">
					<a class="image-link" href="#" style="border:6px solid black; width:100px; height:100px;">
						<img class="image" src="/img/temp3.jpg">
					</a>
					<div class="search-result-item-body">
			        	<div class="row">
			            	<div class="col-sm-9">
			                	<h4 style="font-weight:bold; color:white;">김도현</h4>
		                    	<p style="color:white;">ECM Business Team - Senior Manager</p>
		                    	<p class="description" style="color:white;">ECM 사업팀 수석 매니저입니다. ECM 사업팀 수석 매니저입니다. ECM 사업팀 수석 매니저입니다. ECM 사업팀 수석 매니저입니다. ECM 사업팀 수석 매니저입니다. ECM 사업팀 수석 매니저입니다. ECM 사업팀 수석 매니저입니다. ECM 사업팀 수석 매니저입니다.</p>
		                    </div>
		                    <div class="col-sm-3">
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold;">이력관리</button>
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold; margin:10px 0px;">피부관리</button>
							</div>
		                </div>
		            </div>
		        </section>
		        
		        <section class="search-result-item">
					<a class="image-link" href="#" style="border:6px solid black; width:100px; height:100px;">
						<img class="image" src="/img/temp6.jpg">
					</a>
					<div class="search-result-item-body">
			        	<div class="row">
			            	<div class="col-sm-9">
			                	<h4 style="font-weight:bold; color:white;">성기명</h4>
		                    	<p style="color:white;">ECM Business Team - Manager</p>
		                    	<p class="description" style="color:white;">ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다.</p>
		                    </div>
		                    <div class="col-sm-3">
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold;">이력관리</button>
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold; margin:10px 0px;">피부관리</button>
							</div>
		                </div>
		            </div>    
		        </section>
		        
		        <section class="search-result-item">
					<a class="image-link" href="#" style="border:6px solid black; width:100px; height:100px;">
						<img class="image" src="/img/temp5.jpg">
					</a>
					<div class="search-result-item-body">
			        	<div class="row">
			            	<div class="col-sm-9">
			                	<h4 style="font-weight:bold; color:white;">김한솔</h4>
		                    	<p style="color:white;">ECM Business Team - Manager</p>
		                    	<p class="description" style="color:white;">ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다.</p>
		                    </div>
		                    <div class="col-sm-3">
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold;">이력관리</button>
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold; margin:10px 0px;">피부관리</button>
							</div>
		                </div>
		            </div>    
		        </section>
			    
			    <section class="search-result-item">
					<a class="image-link" href="#" style="border:6px solid black; width:100px; height:100px;">
						<img class="image" src="/img/temp4.png">
					</a>
					<div class="search-result-item-body">
			        	<div class="row">
			            	<div class="col-sm-9">
			                	<h4 style="font-weight:bold; color:white;">조민경</h4>
		                    	<p style="color:white;">ECM Business Team - Manager</p>
		                    	<p class="description" style="color:white;">ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다. ECM 사업팀 책임 매니저입니다.</p>
		                    </div>
		                    <div class="col-sm-3">
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold;">이력관리</button>
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold; margin:10px 0px;">피부관리</button>
							</div>
		                </div>
		            </div>    
		        </section>
		        
			    <section class="search-result-item">
					<a class="image-link" href="#" style="border:6px solid black; width:100px; height:100px;">
						<img class="image" src="/img/temp1.png">
					</a>
					<div class="search-result-item-body">
			        	<div class="row">
			            	<div class="col-sm-9">
			                	<h4 style="font-weight:bold; color:white;">강병민</h4>
		                    	<p style="color:white;">ECM Business Team - Assistant</p>
		                    	<p class="description" style="color:white;">ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. </p>
		                    </div>
		                    <div class="col-sm-3">
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold;">이력관리</button>
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold; margin:10px 0px;">피부관리</button>
							</div>
		                </div>
		            </div>    
		        </section>
		        
		        <section class="search-result-item">
					<a class="image-link" href="#" style="border:6px solid black; width:100px; height:100px;">
						<img class="image" src="/img/temp2.jpg">
					</a>
					<div class="search-result-item-body">
			        	<div class="row">
			            	<div class="col-sm-9">
			                	<h4 style="font-weight:bold; color:white;">이영민</h4>
		                    	<p style="color:white;">ECM Business Team - Assistant</p>
		                    	<p class="description" style="color:white;">ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. ECM 사업팀 사원입니다. </p>
		                    </div>
		                    <div class="col-sm-3">
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold;">이력관리</button>
								<button type="button" class="btn btn-dark" style="width:100%; height:40px; font-weight:bold; margin:10px 0px;">피부관리</button>
							</div>
		                </div>
		            </div>    
		        </section>
			</div>
		</div>
	</div>
</div>

</html>
