<!DOCTYPE html>
<html layout:decorate="~{layout/layout-head}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <div class="px-3">
        <div class="row min-vh-100 justify-content-center flex-center p-5">
            <div class="col-12 col-xl-10 col-xxl-8">
                <div class="row justify-content-center g-5">
                    <div class="col-12 col-lg-6 text-center">
                        <h2 class="text-800 fw-bolder mb-3">500 internal server error</h2>
                        <a class="btn btn-lg btn-primary" href="/">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>