<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <div class="container">
		<div class="row">
			<div class="col-sm-4">
				<img class="image" src="/img/temp.jpg" style="border:6px solid black; width:100%; height:100%;">				
			</div>
			<div class="col-sm-8">
				<h4 style="font-weight:bold; color:black;">송필승</h4>
            	<p style="color:black;">ECM Business Team - Leader</p>
            	<p class="description" style="color:black;">e-mail: song@inzent.com</p>
            	<p class="description" style="color:black;">phone: 010-112-119</p>
            	<p class="description" style="color:black;">Inzent</p>
			</div>
		</div>
		
		<div class="row" style="padding-top:60px;">
			<div class="col-sm-12">
				<h4 style="font-weight:bold; color:black;">자기소개</h4>
				<p class="description" style="color:black;">ECM 사업팀 팀장입니다.  ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다. ECM 사업팀 팀장입니다.</p>	
			</div>
		</div>
	</div>
</div>

</html>