<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">

    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

        <meta content="#ffffff" name="theme-color">

        <title>ECM Wiki</title>

        <!-- ===============================================-->
        <!--    Stylesheets-->
        <!-- ===============================================-->
        <link href="/vendors/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet">

        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->
        <script src="/vendors/jquery/jquery-3.6.3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="/vendors/bootstrap/bootstrap.min.js"></script>

        <script src="https://kit.fontawesome.com/ca032c8eac.js" crossorigin="anonymous"></script>
        <script src="/vendors/clipboard/clipboard.min.js"></script>

        <!-- ===============================================-->
        <!--    Common-->
        <!-- ===============================================-->
        <link href="/css/common.css" rel="stylesheet" type="text/css">
        <script crossorigin="anonymous" src="/js/common.js"></script>
    </head>

</th:block>
</html>