<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">

    <nav aria-label="breadcrumb" class="mb-2">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#!">ECM 소식</a></li>
            <li class="breadcrumb-item active">업데이트 노트</li>
        </ol>
    </nav>

    <h2 class="my-3 lh-sm">업데이트 노트</h2>

    <div class="card shadow-none border border-300 my-3">
        <div class="card-header border-bottom border-300 bg-soft">
            <h5 class="mb-2"><code class="fw-bold fs-1">v0.2</code> - Beta</h5>
            <p class="mb-0">02. 01. 2023</p>
        </div>

        <div class="card-body">
            <h6 class="mb-2">신규 사항</h6>
            <ul class="bullet-inside ps-0">
                <li>공통 : <code>테스트</code></li>
            </ul>
            <h6 class="mb-2">수정 사항</h6>
            <ul class="bullet-inside ps-0 mb-0">
                <li>공통 : <code>테스트</code></li>
            </ul>
        </div>
    </div>

    <div class="card shadow-none border border-300 my-3">
        <div class="card-header border-bottom border-300 bg-soft">
            <h5 class="mb-2"><code class="fw-bold fs-1">v0.1</code> - Alpha</h5>
            <p class="mb-0">12. 31. 2022</p>
        </div>

        <div class="card-body">
            <h6 class="mb-2">신규 사항</h6>
            <ul class="bullet-inside ps-0 mb-0">
                <li>공통 : <code>테스트</code></li>
            </ul>
        </div>
    </div>

</div>

</html>